# MongoDB Atlas
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/job-tracker

# Server
PORT=5000

# Frontend API URL
FRONTEND_API_URL=https://d2oa52p6s2q6q1.cloudfront.net

# AWS (for CI/CD)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
S3_BUCKET_NAME=job-tracker-frontend-googoo-gaga
CLOUDFRONT_DISTRIBUTION_ID=E3V4L8342Y327Y
